


<div>
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top headroom" >
    <div class="container">
      <div class="navbar-header">
        <!-- Button for smallest screens -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a routerLink="/client">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Simulateurs <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/scredic">Credit</a></li>
              <li class="active"><a routerLink="/separgnec">Epargne</a></li>
            </ul>
          </li>
          <li><a routerLink="/accountt">Account</a></li>
          <li><a routerLink="/actionn">Action</a></li>
          <li><a routerLink="/comptee">Compte titre</a></li>
          <li><a routerLink="/congee">Conge</a></li>
          <li><a routerLink="/cardd">Credit card</a></li>
          <li><a routerLink="/formationn">Formation</a></li>
          <li><a routerLink="/messagee">Message</a></li>
          <li><a routerLink="/obligationn">Obligation</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Autre <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/ordree">Ordre</a></li>
              <li><a routerLink="/reclamationn">ReclamationAssurance</a></li>
              <li><a routerLink="/salairee">Salaire</a></li>
              <li><a routerLink="/transactionn">Transaction</a></li>
            </ul>
          <li>
            <button class="btn btn-action" (click)="onLogOut()" >
              <span>Logout</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.navbar -->

  <header id="head" class="secondary"></header>

  <!-- container -->
  <div class="container">

    <ol class="breadcrumb">
      <li><a routerLink="/client">Home</a></li>
      <li class="active">Action</li>
    </ol>

    <div class="row">

      <!-- Article main content -->
      <article class="col-sm-9 maincontent">
        <header class="page-header">
          <br>

          <h1 class="page-title">List of actions</h1>
        </header>


        <br>
        <br>
        <br>
        <div class="container" id="main-container">
          <div class="row" >
            <div *ngFor="let action of actions" class="col-md-6 col-xl-3">
              <div class="card m-b-30">
                <div class="card-body row">

                  <div class="col-6 card-title align-self-center mb-0">
                    <h5>ISIN :{{action?.isin}}</h5>
                    <h5>Sticker :{{action?.stiker}}</h5>
                    <h5>Open :{{action?.open}}</h5>
                    <h5>High :{{action?.high}}</h5>
                    <h5>Low :{{action?.low}}</h5>
                    <h5>Yield :{{action?.yield}}</h5>
                    <h5>Close :{{action?.close}}</h5>
                    <h5>Volume :{{action?.volume}}</h5>
                    <h5>Variation :{{action?.variation}}</h5>

                  </div>
                </div>


              </div>
            </div>
          </div>


</div>





        <!-- Notification for no employees -->
        <div *ngIf="actions?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
          <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">NO ACTIONS!</h4>
            <p>No Action were found.</p>
          </div>
        </div>

      </article>
      <!-- /Article -->

      <!-- Sidebar -->


    </div>
  </div>	<!-- /container -->

  <!-- Social links. @TODO: replace by link/instructions in template -->
  <section id="social">
    <div class="container">
      <div class="wrapper clearfix">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_button_linkedin_counter"></a>
          <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        </div>
        <!-- AddThis Button END -->
      </div>
    </div>
  </section>
  <!-- /social links -->


  <footer id="footer" class="top-space">

    <div class="footer1">
      <div class="container">
        <div class="row">

          <div class="col-md-3 widget">
            <h3 class="widget-title">Contact</h3>
            <div class="widget-body">
              <p>+216 55845828<br>
                <a href="mailto:#">esprit2021@esprit.tn</a><br>
                <br>
                Ariana,Tunise
              </p>
            </div>
          </div>

          <div class="col-md-3 widget">
            <h3 class="widget-title">Follow me</h3>
            <div class="widget-body">
              <p class="follow-me-icons">
                <a href=""><i class="fa fa-twitter fa-2"></i></a>
                <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                <a href=""><i class="fa fa-github fa-2"></i></a>
                <a href=""><i class="fa fa-facebook fa-2"></i></a>
              </p>
            </div>
          </div>

          <div class="col-md-6 widget">
            <h3 class="widget-title">Text widget</h3>
            <div class="widget-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
              <p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </div>

    <div class="footer2">
      <div class="container">
        <div class="row">

          <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="simplenav">
                <a routerLink="/client">Home</a> |
                <a routerLink="/scredic">Simulateur Credit</a> |
                <a routerLink="/separgnec">Simulateur Epargne</a> |
                <a routerLink="/accountt">Account</a> |
                <a routerLink="/actionn">Action</a> |
                <a routerLink="/comptee">Compte titre</a> |
                <a routerLink="/congee">Conge</a> |
                <a routerLink="/cardd">Credit card</a> |
                <a routerLink="/formationn">Formation</a> |
                <a routerLink="/obligationn">Obligation</a> |
                <a routerLink="/ordree">Ordre</a> |
                <a routerLink="/reclamationn">ReclamationAssurance</a> |
                <a routerLink="/salairee">Salaire</a> |
                <a routerLink="/transactionn">Transaction</a> |
                <b><a (click)="onLogOut()">Logout</a></b>
              </p>
            </div>
          </div>

          <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="text-right">
                Copyright &copy; 2021, Your name. Designed by <a href="http://esprit.tn/" rel="designer">esprit</a>
              </p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </div>

  </footer>

</div>
