


<div>
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top headroom" >
    <div class="container">
      <div class="navbar-header">
        <!-- Button for smallest screens -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a routerLink="/agent">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Simulateurs <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/scredi">Credit</a></li>
              <li class="active"><a routerLink="/separgne">Epargne</a></li>
            </ul>
          </li>



          <li><a class="btn" routerLink="/login">SIGN IN / SIGN UP</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.navbar -->

  <header id="head" class="secondary"></header>

  <!-- container -->
  <div class="container">

    <ol class="breadcrumb">
      <li><a routerLink="/agent">Home</a></li>
      <li class="active">Simulateur de Credit</li>
    </ol>

    <div class="row">

      <!-- Article main content -->
      <article class="col-sm-9 maincontent">
        <header class="page-header">
          <br>

          <h1 class="page-title">Simulateur d'Epargne</h1>
        </header>


        <!-- Add account Modal -->


        <div class="modal-content" id="main-container">
          <div class="modal-header">

          </div>
          <div class="modal-body">
            <form id="form1">
              <div class="form-group">
                <label for="capitalinitiale">Capital initiale :</label>
                <input type="text" [(ngModel)]="capitalinitiale" name="capitalinitiale" class="form-control" id="capitalinitiale" placeholder="Capital initiale" required>
              </div>
              <div class="form-group">
                <label for="versement">Versement:</label>
                <input type="text" [(ngModel)]="versement" name="versement" class="form-control" id="versement" placeholder="Versement" required>
              </div>
              <div class="form-group">
                <label for="rendementespere">Rendement espere :</label>
                <input type="text"  name="rendementespere" class="form-control" id="rendementespere" placeholder="rendementespere " required>
              </div>
              <div class="form-group">
                <label for="duree">Duree :</label>
                <input type="text" [(ngModel)]="duree" name="duree" class="form-control" id="duree" placeholder="Duree" required>
              </div>




              <div class="modal-footer">
                <button (click)="clearForm()" type="button" id="add-salaire-form" class="btn btn-secondary" data-dismiss="modal">Effacer</button>
                <button  type="submit" class="btn btn-primary" (click)="onOpenModal('add')"  >Simuler</button>
              </div>
            </form>
          </div>
        </div>

        <div class="modal fade" id="addCreditModal" tabindex="-1" role="dialog" aria-labelledby="addCreditModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addCreditModalLabel">Credit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="form-group">
                  <label >Capital final : {{total}} </label>




                </div>
              </div>
            </div>
          </div>

        </div>






      </article>
      <!-- /Article -->

      <!-- Sidebar -->


    </div>
  </div>	<!-- /container -->

  <!-- Social links. @TODO: replace by link/instructions in template -->
  <section id="social">
    <div class="container">
      <div class="wrapper clearfix">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_button_linkedin_counter"></a>
          <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        </div>
        <!-- AddThis Button END -->
      </div>
    </div>
  </section>
  <!-- /social links -->


  <footer id="footer" class="top-space">

    <div class="footer1">
      <div class="container">
        <div class="row">

          <div class="col-md-3 widget">
            <h3 class="widget-title">Contact</h3>
            <div class="widget-body">
              <p>+216 55845828<br>
                <a href="mailto:#">esprit2021@esprit.tn</a><br>
                <br>
                Ariana,Tunise
              </p>
            </div>
          </div>

          <div class="col-md-3 widget">
            <h3 class="widget-title">Follow me</h3>
            <div class="widget-body">
              <p class="follow-me-icons">
                <a href=""><i class="fa fa-twitter fa-2"></i></a>
                <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                <a href=""><i class="fa fa-github fa-2"></i></a>
                <a href=""><i class="fa fa-facebook fa-2"></i></a>
              </p>
            </div>
          </div>

          <div class="col-md-6 widget">
            <h3 class="widget-title">Text widget</h3>
            <div class="widget-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
              <p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </div>

    <div class="footer2">
      <div class="container">
        <div class="row">

          <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="simplenav">
                <a routerLink="/home">Home</a> |
                <a routerLink="/scredi">Simulateur Credit</a> |
                <a routerLink="/separgne">Simulateur Epargne</a> |
                <b><a routerLink="/login">Sign up</a></b>
              </p>
            </div>
          </div>

          <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="text-right">
                Copyright &copy; 2021, Your name. Designed by <a href="http://esprit.tn/" rel="designer">esprit</a>
              </p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </div>

  </footer>

</div>
