


<div>
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top headroom" >
    <div class="container">
      <div class="navbar-header">
        <!-- Button for smallest screens -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a routerLink="/agent">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Simulateurs <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/scredia">Credit</a></li>
              <li class="active"><a routerLink="/separgnea">Epargne</a></li>
            </ul>
          </li>
          <li><a routerLink="/account">Account</a></li>
          <li><a routerLink="/action">Action</a></li>
          <li><a routerLink="/compte">Compte titre</a></li>
          <li><a routerLink="/conge">Conge</a></li>
          <li><a routerLink="/card">Credit card</a></li>
          <li><a routerLink="/formation">Formation</a></li>
          <li><a routerLink="/message">Message</a></li>
          <li><a routerLink="/obligation">Obligation</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Autre <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/ordre">Ordre</a></li>
              <li><a routerLink="/reclamation">ReclamationAssurance</a></li>
              <li><a routerLink="/salaire">Salaire</a></li>
              <li><a routerLink="/transaction">Transaction</a></li>
              <li><a routerLink="/user">Users</a></li>
            </ul>
              <li>
                <button class="btn btn-action" (click)="onLogOut()" >
                  <span>Logout</span>
                </button>
              </li>
            </ul>
      </div>
    </div>
  </div>
  <!-- /.navbar -->

  <header id="head" class="secondary"></header>

  <!-- container -->
  <div class="container">

    <ol class="breadcrumb">
      <li><a routerLink="/agent">Home</a></li>
      <li class="active">ReclamationAssurance</li>
    </ol>

    <div class="row">

      <!-- Article main content -->
      <article class="col-sm-9 maincontent">
        <header class="page-header">
          <br>

          <h1 class="page-title">List of Reclamations Assurances</h1>
        </header>


        <br>
        <br>
        <br>
        <div class="container" id="main-container">
          <div class="row" >
            <div *ngFor="let recl of reclamationAssurances" class="col-md-6 col-xl-3">
              <div class="card m-b-30">
                <div class="card-body row">

                  <div class="col-6 card-title align-self-center mb-0">
                    <h5>Policy state :{{recl.policy_state}}</h5>
                    <h5>Policy csl :{{recl.policy_csl}}</h5>
                    <h5>Incident type :{{recl.incident_type}}</h5>
                    <h5>Incident severity :{{recl.incident_severity}}</h5>
                    <h5>Incident state :{{recl.incident_state}}</h5>
                    <h5>Incident city :{{recl.incident_city}}</h5>
                    <h5>Auto make :{{recl.auto_make}}</h5>
                    <h5>Auto model :{{recl.auto_model}}</h5>
                    <h5>Collision type :{{recl.collision_type}}</h5>
                    <h5>Proprety damage :{{recl.proprety_damage}}</h5>
                    <h5>Policy report available :{{recl.policy_report_available}}</h5>
                    <h5>Authorities contacted :{{recl.authorities_contacted}}</h5>
                    <h5>Amount to refand :{{recl.amount_to_refand}}</h5>
                    <h5>State :{{recl.state}}</h5>
                    <h5>Fraud :{{recl.fraud}}</h5>



                  </div>
                </div>
                <div class="card-body">
                  <div class="float-right btn-group btn-group-sm">
                    <a (click)="onOpenModal(recl, 'edit')"  class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="updateReclamationassuranceModal" tabindex="-1" role="dialog" aria-labelledby="reclamationAssurancetEditModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateReclamationassuranceModalLabel">Edit Reclamationassurance </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form #editForm="ngForm">
                  <input type="hidden" ngModel="{{editReclamation_assurance?.id_r}}" name="id_r" class="form-control" id="id_r" placeholder="id_r">
                  <input type="hidden" ngModel="{{editReclamation_assurance?.policy_state}}" name="policy_state" class="form-control" id="policy_state" placeholder="policy_state">
                  <input type="hidden" ngModel="{{editReclamation_assurance?.policy_csl}}" name="policy_csl" class="form-control" id="policy_csl" placeholder="policy_csl">
                  <input type="hidden" ngModel="{{editReclamation_assurance?.incident_type}}" name="incident_type" class="form-control" id="incident_type" placeholder="incident_type">
                  <input type="hidden" ngModel="{{editReclamation_assurance?.incident_severity}}" name="incident_severity" class="form-control" id="incident_severity" placeholder="incident_severity">
                  <input type="hidden" ngModel="{{editReclamation_assurance?.incident_state}}" name="incident_state" class="form-control" id="incident_state" placeholder="incident_state">
                  <input type="hidden" ngModel="{{editReclamation_assurance?.incident_city}}" name="incident_city" class="form-control" id="incident_city" placeholder="incident_city">
                  <input type="hidden" ngModel="{{editReclamation_assurance?.auto_make}}" name="auto_make" class="form-control" id="auto_make" placeholder="auto_make">
                  <input type="hidden" ngModel="{{editReclamation_assurance?.auto_model}}" name="auto_model" class="form-control" id="auto_model" placeholder="auto_model">
                  <input type="hidden" ngModel="{{editReclamation_assurance?.collision_type}}" name="collision_type" class="form-control" id="collision_type" placeholder="collision_type">
                  <input type="hidden" ngModel="{{editReclamation_assurance?.proprety_damage}}" name="proprety_damage" class="form-control" id="proprety_damage" placeholder="proprety_damage">
                  <input type="hidden" ngModel="{{editReclamation_assurance?.policy_report_available}}" name="policy_report_available" class="form-control" id="policy_report_available" placeholder="policy_report_available">
                  <input type="hidden" ngModel="{{editReclamation_assurance?.authorities_contacted}}" name="authorities_contacted" class="form-control" id="authorities_contacted" placeholder="authorities_contacted">
                  <input type="hidden" ngModel="{{editReclamation_assurance?.amount_to_refand}}" name="amount_to_refand" class="form-control" id="amount_to_refand" placeholder="amount_to_refand">
                  <input type="hidden" ngModel="{{editReclamation_assurance?.collision_type}}" name="collision_type" class="form-control" id="collision_type" placeholder="collision_type">

                  <div class="form-group">
                    <label for="state">State</label>
                    <select name="state" ngModel="{{editReclamation_assurance?.state}}" ngModel id="state" required class="form-control">
                      <option value="refand">refand</option>
                      <option value="fraud">fraud</option>
                      <option value="waiting">waiting</option>
                    </select>
                  </div>




                  <div class="modal-footer">
                    <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                    <button (click)="onUpdateReclamation_assurance(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>




        <!-- Notification for no employees -->
        <div *ngIf="reclamationAssurances?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
          <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">NO CREDIT RECLAMATION ASSURANCES!</h4>
            <p>No Reclamationassurance card were found.</p>
          </div>
        </div>

      </article>
      <!-- /Article -->

      <!-- Sidebar -->


    </div>
  </div>	<!-- /container -->

  <!-- Social links. @TODO: replace by link/instructions in template -->
  <section id="social">
    <div class="container">
      <div class="wrapper clearfix">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_button_linkedin_counter"></a>
          <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        </div>
        <!-- AddThis Button END -->
      </div>
    </div>
  </section>
  <!-- /social links -->


  <footer id="footer" class="top-space">

    <div class="footer1">
      <div class="container">
        <div class="row">

          <div class="col-md-3 widget">
            <h3 class="widget-title">Contact</h3>
            <div class="widget-body">
              <p>+216 55845828<br>
                <a href="mailto:#">esprit2021@esprit.tn</a><br>
                <br>
                Ariana,Tunise
              </p>
            </div>
          </div>

          <div class="col-md-3 widget">
            <h3 class="widget-title">Follow me</h3>
            <div class="widget-body">
              <p class="follow-me-icons">
                <a href=""><i class="fa fa-twitter fa-2"></i></a>
                <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                <a href=""><i class="fa fa-github fa-2"></i></a>
                <a href=""><i class="fa fa-facebook fa-2"></i></a>
              </p>
            </div>
          </div>

          <div class="col-md-6 widget">
            <h3 class="widget-title">Text widget</h3>
            <div class="widget-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
              <p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </div>

    <div class="footer2">
      <div class="container">
        <div class="row">

          <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="simplenav">
                <a routerLink="/agent">Home</a> |
                <a routerLink="/scredia">Simulateur Credit</a> |
                <a routerLink="/separgnea">Simulateur Epargne</a> |
                <a routerLink="/account">Account</a> |
                <a routerLink="/action">Action</a> |
                <a routerLink="/compte">Compte titre</a> |
                <a routerLink="/conge">Conge</a> |
                <a routerLink="/card">Credit card</a> |
                <a routerLink="/formation">Formation</a> |
                <a routerLink="/obligation">Obligation</a> |
                <a routerLink="/ordre">Ordre</a> |
                <a routerLink="/reclamation">ReclamationAssurance</a> |
                <a routerLink="/salaire">Salaire</a> |
                <a routerLink="/transaction">Transaction</a> |
                <a routerLink="/user">Users</a> |
                <b><a (click)="onLogOut()">Logout</a></b>
              </p>
            </div>
          </div>

          <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="text-right">
                Copyright &copy; 2021, Your name. Designed by <a href="http://esprit.tn/" rel="designer">esprit</a>
              </p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </div>

  </footer>

</div>
